img {
    width: 150px;
    height: 125px;
}

.test {
    box-shadow: 3px 3px 3px black;
    background-color: blanchedalmond;
    border-radius: 7px;
}

.test2 {
    box-shadow: 3px 3px 3px rgb(39, 96, 218);
    background-color: rgb(216, 51, 210);
    border-radius: 7px;
}

.bob3 {
    text-align: center;
    
}